.feynman {
    height: 890px;
    padding-top: 100px;
    background-color: #F2F2F2;
    background-image: url(../../images/feinman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: bottom left;
    position: relative;
}