.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 38px;
  margin: 80px auto 217px;
  align-content: space-between;
  padding: 0;
  list-style-type: none;
}