.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
    margin-left: 48px;
    transition: opacity .2s linear;
}

.khan__buy-link:hover{
    opacity: .5;
}